@import url(https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100%3b200%3b300%3b400%3b500%3b600%3b700%3b800%3b900&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Encode Sans Condensed", sans-serif;
  color: #1c1c1c;
}

.container {
  width: 65%;
  margin: 0 auto;
}

.container-medium {
  width: 55%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 5rem;
  flex-shrink: 0;
}
header .main-menu {
  display: flex;
}
header .main-menu li {
  margin-left: 2rem;
}
header .main-menu li a {
  padding: 3rem 0;
  display: block;
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: 700;
}
header .main-menu li a.current {
  color: #0282f9;
  border-bottom: 5px solid #0282f9;
}

.main-banner {
  background-image: url("/img/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 400px;
}

.comics-section {
  padding: 3rem 0 1.2rem;
  background-color: #1c1c1c;
}
.comics-section .container {
  position: relative;
}
.comics-section .container .category-label {
  position: absolute;
  top: -4.7rem;
  left: 0;
  padding: 0.6rem 2rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 1.7rem;
  background-color: #0282f9;
}
.comics-section .container .comics-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.comics-section .container .col {
  width: 16.6666666667%;
  padding: 0 0.75rem;
}
.comics-section .container .col .comic-card {
  cursor: pointer;
  margin-bottom: 3rem;
  text-align: center;
}
.comics-section .container .col .comic-card img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
  max-height: 10rem;
  margin-bottom: 1rem;
  width: 100%;
}
.comics-section .container .col .comic-card .series {
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
}
.comics-section .container button {
  background-color: #0282f9;
  border: none;
  color: #fff;
  text-transform: uppercase;
  padding: 0.7rem 3rem;
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.section-shop {
  padding: 3rem 0;
  background-color: #0282f9;
}
.section-shop ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.section-shop img {
  vertical-align: middle;
  height: 3rem;
  max-width: 3.2rem;
  margin-right: 1rem;
}
.section-shop .text {
  vertical-align: middle;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.sub-banner {
  height: 5rem;
  background-color: #0282f9;
  position: relative;
}
.sub-banner .comic-thumbnail {
  width: 12rem;
  border: 1px solid #fff;
  position: absolute;
  bottom: 1rem;
  left: 22.5%;
  text-align: center;
}
.sub-banner .comic-thumbnail img {
  display: block;
}
.sub-banner .comic-thumbnail .text {
  background-color: #00a9d9;
  color: white;
  font-size: 0.85rem;
  text-transform: uppercase;
}
.sub-banner .comic-thumbnail .text.top {
  padding: 0 0.6rem;
  position: absolute;
  top: 0;
  left: 0;
}

.single-comic-section {
  padding: 4rem 0 0;
  font-family: sans-serif;
}
.single-comic-section .container-medium .desc-adv-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.single-comic-section .container-medium .desc-adv-wrapper .desc-status {
  width: 67%;
}
.single-comic-section .container-medium .desc-adv-wrapper .desc-status .comic-title {
  text-transform: uppercase;
  color: #003f5e;
  font-size: 1.8rem;
  margin-bottom: 1.4rem;
}
.single-comic-section .container-medium .desc-adv-wrapper .desc-status .bar-status {
  background-color: #55ba59;
  border-bottom: 1px solid #357739;
  color: #bafd9c;
  display: flex;
  font-weight: 500;
  margin-bottom: 1rem;
}
.single-comic-section .container-medium .desc-adv-wrapper .desc-status .bar-status > div {
  padding: 0.2rem 1.3rem;
}
.single-comic-section .container-medium .desc-adv-wrapper .desc-status .bar-status .left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.single-comic-section .container-medium .desc-adv-wrapper .desc-status .bar-status .left .price span {
  color: white;
}
.single-comic-section .container-medium .desc-adv-wrapper .desc-status .bar-status .left .availability {
  color: #bafd9c;
  text-transform: uppercase;
}
.single-comic-section .container-medium .desc-adv-wrapper .desc-status .bar-status .right {
  color: #fff;
  width: 28%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid #357739;
  cursor: pointer;
}
.single-comic-section .container-medium .desc-adv-wrapper .desc-status .bar-status .right .arrow {
  font-size: 1.8rem;
  transform: rotate(90deg);
  margin-left: 1rem;
}
.single-comic-section .container-medium .desc-adv-wrapper .desc-status .description {
  font-size: 0.9rem;
  line-height: 1.4rem;
}
.single-comic-section .container-medium .desc-adv-wrapper .advertisement h4 {
  text-transform: uppercase;
  font-size: 0.9rem;
  text-align: right;
  margin-bottom: 0.2rem;
  font-family: "Encode Sans Condensed";
}
.single-comic-section .comic-details {
  background-color: #f6f6f6;
  border-top: 1px solid gray;
  padding: 1.5rem 0;
  margin-top: 4rem;
}
.single-comic-section .comic-details .container-medium {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.single-comic-section .comic-details .container-medium h2 {
  color: #003f5e;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
.single-comic-section .comic-details .container-medium > div {
  width: calc(50% - 1.4rem);
}
.single-comic-section .comic-details .container-medium .talent .col > div, .single-comic-section .comic-details .container-medium .specs .col > div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 0.5rem 0;
  font-size: 0.8rem;
}
.single-comic-section .comic-details .container-medium .talent .col > div .left, .single-comic-section .comic-details .container-medium .specs .col > div .left {
  color: #003f5e;
}
.single-comic-section .comic-details .container-medium .talent .col > div .right, .single-comic-section .comic-details .container-medium .specs .col > div .right {
  color: #0282f9;
  width: 70%;
}
.single-comic-section .comic-details .container-medium .talent .col .us-price .right, .single-comic-section .comic-details .container-medium .talent .col .sale_date .right, .single-comic-section .comic-details .container-medium .specs .col .us-price .right, .single-comic-section .comic-details .container-medium .specs .col .sale_date .right {
  color: #1c1c1c;
}
.single-comic-section .comic-details .container-medium .talent .col:first-of-type, .single-comic-section .comic-details .container-medium .specs .col:first-of-type {
  border-top: 1px solid gray;
}

footer .footer-top {
  background-image: url("../img/footer-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #797979;
}
footer .footer-top .container {
  background-image: url("../img/dc-logo-bg.png");
  background-size: auto;
  background-position: center right;
  background-repeat: no-repeat;
}
footer .footer-top .container .row {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  min-width: 40rem;
  padding: 3rem 0;
}
footer .footer-top .container .row .col {
  margin-right: 2rem;
  width: 6rem;
  flex-shrink: 0;
}
footer .footer-top .container .row .col h2 {
  font-size: 1.1rem;
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
footer .footer-top .container .row .col ul {
  margin-bottom: 1rem;
}
footer .footer-top .container .row li:hover {
  color: #0282f9;
}
footer .footer-top .container .row li, footer .footer-top .container .row p {
  font-size: 0.75rem;
  line-height: 1.2rem;
  font-weight: 600;
}
footer .footer-top .container .row p {
  display: block;
}
footer .footer-top .container .row p a {
  color: #0282f9;
}

.footer-bottom {
  padding: 2rem 0;
  background-color: #303030;
}
.footer-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom .container .signup {
  flex-grow: 1;
}
.footer-bottom .container .signup button {
  color: white;
  text-transform: uppercase;
  border: 2px solid #0282f9;
  background-color: transparent;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}
.footer-bottom .container nav {
  display: flex;
  align-items: center;
}
.footer-bottom .container nav h2 {
  color: #0282f9;
  text-transform: uppercase;
}
.footer-bottom .container nav .main-menu {
  display: flex;
}
.footer-bottom .container nav .main-menu li {
  margin-left: 1rem;
}
.footer-bottom .container nav .main-menu li img {
  margin-top: 0.3rem;
  cursor: pointer;
}