@import url(https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100%3b200%3b300%3b400%3b500%3b600%3b700%3b800%3b900&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Encode Sans Condensed", sans-serif;
  color: #1c1c1c;
}

.container {
  width: 65%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 5rem;
  flex-shrink: 0;
}

header .main-menu {
  display: flex;
}

header .main-menu li {
  margin-left: 2rem;
}

header .main-menu li a {
  padding: 3rem 0;
  display: block;
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: 700;
}

header .main-menu li a.current {
  color: #0282f9;
  border-bottom: 5px solid #0282f9;
}

footer .footer-top {
  background-image: url("/img/footer-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #797979;
}

footer .footer-top .container {
  background-image: url("/img/dc-logo-bg.png");
  background-size: auto;
  background-position: center right;
  background-repeat: no-repeat;
}

footer .footer-top .container .row {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  min-width: 40rem;
  padding: 3rem 0;
}

footer .footer-top .container .row .col {
  margin-right: 2rem;
  width: 6rem;
  flex-shrink: 0;
}

footer .footer-top .container .row .col h2 {
  font-size: 1.1rem;
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

footer .footer-top .container .row .col ul {
  margin-bottom: 1rem;
}

footer .footer-top .container .row li:hover {
  color: #0282f9;
}

footer .footer-top .container .row li,
footer .footer-top .container .row p {
  font-size: 0.75rem;
  line-height: 1.2rem;
  font-weight: 600;
}

footer .footer-top .container .row p {
  display: block;
}

footer .footer-top .container .row p a {
  color: #0282f9;
}

.footer-bottom {
  padding: 2rem 0;
  background-color: #303030;
}

.footer-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom .container .signup {
  flex-grow: 1;
}

.footer-bottom .container .signup button {
  color: white;
  text-transform: uppercase;
  border: 2px solid #0282f9;
  background-color: transparent;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.footer-bottom .container nav {
  display: flex;
  align-items: center;
}

.footer-bottom .container nav h2 {
  color: #0282f9;
  text-transform: uppercase;
}

.footer-bottom .container nav .main-menu {
  display: flex;
}

.footer-bottom .container nav .main-menu li {
  margin-left: 1rem;
}

.footer-bottom .container nav .main-menu li img {
  margin-top: 0.3rem;
  cursor: pointer;
}

